.navcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
  padding: 1rem 0.5rem;
  background: #fff;
}

.button {
  background: transparent;
  border: 1px solid transparent;
  padding: 1.5rem;
  border-radius: 5px;

  &:active {
    background: #f2f2f2;
  }

  &:focus {
    outline: #39f 1px solid;
  }
}
