.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  max-width: 968px;
  margin: 0 auto;
  transition: margin-bottom 0.3s;

  @media screen and (min-width: 1024px) {
    margin-bottom: 3rem;
  }
}
